.slidev-layout {
  --uno: text-[22px] leading-[1.65] px-[70px] py-[50px] text-left;

  h1,
  h2,
  h3 {
    --uno: mt-[0.5em] mb-[0.5em] leading-[1.3] text-left 
      light:text-gray-900 dark:text-gray-200;
  }

  h1 {
    --uno: text-[2em];
  }

  h2 {
    --uno: text-[1.6em];
  }

  h3 {
    --uno: text-[1.3em];
  }

  h4,
  h5,
  h6 {
    --uno: text-[1.2em] light:text-gray-900 dark:text-gray-300;
  }

  p {
    --uno: mb-[0.8em];
  }

  ul,
  ol {
    --uno: pl-[1.8em] mb-[0.8em];
  }

  li {
    --uno: mb-[0.5em];
  }

  pre {
    --uno: overflow-x-auto overflow-y-auto max-w-full max-h-full;
  }

  img {
    --uno: max-w-[85%] h-auto block my-[1.2em] mx-auto rounded-[4px];
  }

  blockquote {
    --uno: light:border-gray-300 dark:border-gray-600 light:text-gray-600
      dark:text-gray-400 italic;
  }

  a {
    --uno: no-underline text-primary;
  }

  section.lead {
    --uno: flex flex-col justify-center text-center;

    h1 {
      --uno: text-center text-[2.5em] mb-[0.5em];
    }
  }

  .chapterTitle {
    --uno: text-[1.6em] text-[#888] text-center;
  }
  .center {
    --uno: text-center;
  }
}
